body {
    background: black;
}

.centered {
    width: min-content;
    margin: 0 auto;
}

.clock-container {
    margin-top: 33vh;
}

.clock-display {
    font-size: 96pt;
    font-family: sans-serif;
    color: lightgray;
}

.date-display {
     font-size: 24pt;
     font-family: sans-serif;
     color: lightgray;
 }